.m-fligthList {
    &__search {
        margin: 30px 0;
    }
    &__button {
        padding: 0 !important;
        margin-left: 20px;
    }
    &__icon {
        font-size: 32px;
        color: $azulAuxo-2;
        padding-top: 4px;

        &--menu {
            color: $azulAuxo-1 !important;
            font-size: 20px;
            span {
                margin-right: 20px;
            }
        }
    }
    &__label {
        color: $azulAuxo-1 !important;
        font-size: 16px;
        margin-top: 15px;
    }
}

.ant-dropdown {
    top: 160px !important;
}