$azulAuxo-1: #21052D;
$azulAuxo-2: #01C2D2;
$azulAuxo-3: #DDF0F2;
$rojoAuxo: #FF0D54;
$naranjaAuxo: #FFA91F;
$blancoAuxo: #FBFBFB;
$blancoAuxo-2: #DCDCDC;
$blancoAuxo-3: #E0E0E0;
$verdeAuxo: #00FF85;
$verdeAuxo-2: rgba(0, 255, 133, 0.2);